@CHARSET "UTF-8";
body {
  /*font-family: "RobotoRegular";*/
  font-family: 'Roboto', sans-serif;
  font-weigth: 400;
  background-color: #eee !important;
  font-family: "Sawarabi Mincho";
}

h3, h4, h5 {
  /*color: #e7e7e7;*/
  font-weight: 300 !important;
}

.calendar-wrapper {
  height: auto;
  width: 37rem;
}

.header-text{
	margin-top: 1rem;
}
.calendar-header {
  height: 100%;
  padding: 20px;
  color: #fff;
  /*font-family: "RobotoLight";*/
  font-weigth: 300;
  position: relative;
}

.header-title {
  padding-left: 15%;
}

.header-background {
	background-color:rgba(179, 217, 255,0.7);
	height: 100px;
  background-position: center right;
  background-size: cover;
}

.calendar-content {
  background-color: #fff;
  padding: 15px;
  padding-left: 15%;
  padding-right: 15%;
  overflow: hidden;
  font-family: "Sawarabi Mincho";
}

.event-mark {
  width: 5px;
  height: 5px;
  background-color: teal;
  border-radius: 100px;
  position: absolute;
  left: 46%;
  top: 70%;
}

.calendar-footer {
  height: 180px;
  font-weigth: 300;
  text-align: center;
  background-color: rgba(179, 217, 255,0.7) !important;
  position: relative;
  overflow: hidden;
  color:#808080;
}

.addForm {
  position: absolute;
  top: 100%;
  width: 100%;
  height: 100%;
  background-color: rgb(153, 204, 255) !important;
  transition: top 0.5s cubic-bezier(1, 0, 0, 1);
  padding: 15px 15px 15px 15px;
  color:#808080;
}

.addForm input {
  color: #808080;
}

.addForm .row {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  margin-bottom: 0;
}

.addForm h4 {
  color: #fff;
  margin-bottom: 1rem;
}

.addEventButtons {
  display:block;
  margin-top:1rem;
  text-align: right;
  padding: 0 0.75rem 0 0.75rem;
}

.addEventButtons a {
  color: white;
  font-weight: 300;
}

.emptyForm {
  padding: 20px;
  padding-left: 15%;
  padding-right: 15%;
}

.emptyForm h4 {
  color: #fff;
  margin-bottom: 2rem;
}

.sidebar-wrapper {
  color: #fff;
  background-color: rgb(128, 191, 255) !important;
  padding-top: 0;
  padding-bottom: 20px;
  font-weigth: 300;
  width:28rem;
  position: relative;
  left: 42rem;
  top:-40.8rem;
  height: 70rem;
  opacity: 0.8;
}
#emptyFormTitle{
	color:gray;
}

.sidebar-title {
  padding: 50px 6% 50px 12%;
  color: white;
}

.sidebar-title h4 {
  margin-top: 0;
}

.sidebar-events {
  overflow-x: hidden;
  overflow-y: hidden;
  margin-bottom: 70px;
}

.empty-message {
  font-size: 1.2rem;
  padding: 15px 6% 15px 12%;
}

.eventCard {
  background-color: #fff;
  color: black;
  padding: 12px 24px 12px 24px;
  border-bottom: 1px solid #E5E5E5;
  position: relative;
}

.eventCard-header {
  font-weight: bold;
}

.eventCard-description {
  color: grey;
}

.eventCard-mark-wrapper {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 60px;
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 25%, rgba(255, 255, 255, 1) 100%);
}

.eventCard-mark {
  width: 8px;
  height: 8px;
  background-color: #b39ddb;
  border-radius: 100px;
  position: absolute;
  left: 50%;
  top: 45%;
}

.day-mark {
  width: 7px;
  height: 7px;
  background-color: #b39ddb;
  border-radius: 100px;
  position: absolute;
  left: 47%;
  top: 67%;
}

.content-wrapper {
  padding-top: 50px;
  padding-bottom: 50px;
  margin-right: 25%;
}

#table-body .col:hover {
  cursor: pointer;
  /*border: 1px solid grey;*/
  background-color: #E0E0E0;
}

.empty-day:hover {
  cursor: default !important;
  background-color: #fff !important;
}

#table-body .row .col {
  padding: .75rem;
}

#table-body .col {
  border: 1px solid transparent;
}

#table-body {}

#table-body .row {
  margin-bottom: 0;
}

#table-body .col {
  padding-top: 1.3rem !important;
  padding-bottom: 1.3rem !important;
}

#calendar-table {
  text-align: center;
  
}

.prev-button {
  position: absolute;
  cursor: pointer;
  left: 0%;
  top: 35%;
  color: grey !important;
}
.prev-button i{ 
  font-size: 4em;
}

.next-button {
  position: absolute;
  cursor: pointer;
  left: 92%;
  top: 35%;
  color: grey !important;
}
.next-button i{ 
  font-size: 4em;
}


.addEvent {
  box-shadow: 0 5px 15px rgb(57, 168, 228);
  background-color: #39a8e4;
  padding: 10px;
  padding-left: 3em;
  padding-right: 3em;
  cursor: pointer;
  border-radius: 25px;
  color: #fff !important;
  background-image: linear-gradient(135deg, #8d8dd4, #45ced4);
}

.addEvent:hover {
  transition: box-shadow 0.5s;
  box-shadow: 0 5px 25px rgb(57, 168, 228);
}

.form-select {
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  background: #ffffff;
  overflow: hidden;
  border: 1px solid #cbcbcb;
  border-radius: 3px;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.1), inset 0 0 10px rgba(0, 0, 0, 0.07);
  -moz-transition: box-shadow 0.2s;
  -o-transition: box-shadow 0.2s;
  -webkit-transition: box-shadow 0.2s;
  transition: box-shadow 0.2s;
  height: 40px;
}
.form-select:focus, .form-select:hover {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}
.form-select:after {
  content: '▾';
  position: absolute;
  top: 0;
  right: 12px;
  z-index: 1;
  color: #bbbbbb;
  line-height: 40px;
  font-size: 14px;
}
.ie .form-select:after {
  display: none;
}

select {
  position: relative;
  background: transparent;
  background-image: none;
  display: block;
  width: 100%;
  outline: none;
  color: #888888;
  cursor: pointer;
  z-index: 2;
  border: none;
  padding: 10px 10px 10px 5px;
  text-overflow: '';
  text-indent: 5px;
  -moz-appearance: none;
  -webkit-appearance: none;
}
select[multiple=multiple] {
  height: auto;
  border: 1px solid #cbcbcb;
  border-radius: 3px;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.1), inset 0 0 10px rgba(0, 0, 0, 0.07);
  -moz-transition: box-shadow 0.2s;
  -o-transition: box-shadow 0.2s;
  -webkit-transition: box-shadow 0.2s;
  transition: box-shadow 0.2s;
}
select[multiple=multiple]:hover {
  border-color: #cccccc;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}
select option[disabled] {
  color: #eeeeee;
  text-shadow: none;
  border: none;
}

select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #888888;
}

select::-ms-expand {
  display: none;
}

/*==========  Generic styling  ==========*/
.column-6 {
  position: absolute;
  top: 30%;
  left: 50%;
  margin: -20px 0 0 -150px;
  width: 300px;
}


#gnmenuwrapper{
	height: 100%;
}
#gnmenu li{
	float: none;
}
#gnsearch{
  position: relative;
  z-index: 10;
  padding-left: 60px;
  outline: none;
  border: none;
  background: transparent;
  color: #5f6f81;
  font-weight: 300;
  font-family: 'Lato', Arial, sans-serif;
  cursor: pointer;
  margin: 0;
	}
	
.container{
	margin-top: 1rem;
}
.side-nav{
	margin-top: 5rem;
}