@CHARSET "UTF-8";

h2 {
	color: #71b8ff;
	font-size: 20px;
	font-weight: 400;
	text-align: left;
	padding: 30px 0px 20px 25px
}

a {
	color: #46485c;
	text-decoration: none;
}

.login {
	width: 330px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -184px 0px 0px -150px;
	background: #FFFFFF;
	box-shadow: 0px 0px 0px 9999px rgba(0, 0, 0, 0.6);
	animation-fill-mode: both;
	animation-duration: 1s;
	animation-name: bounceInDown;
	border-radius: 3px;
	z-index: 3;
}

.user, .pw {
	border-left: 5px solid transparent;
	transition: all 0.3s linear;
}

.user:hover, .pw:hover {
	background: #f5f5f5;
	border-left: 5px solid #71b8ff;
}

#cust_Id, input[type="password"] {
	width: 290px;
	padding: 20px 0px;
	background: transparent;
	border: 0;
	outline: none;
	color: #5e5e5e;
	margin: 0 auto;
	text-indent: 20px;
	font-weight: bold;
}

#button {
  color:white;
  background-color: #71b8ff;
  background-image: none;
  margin-top:5px;
  margin-left:6rem;
  margin-bottom:13px;
  border-radius: 40px;
  border: 1px solid #71b8ff;
  -webkit-transition: all ease 0.8s;
  -moz-transition: all ease 0.8s;
  transition: all ease 0.8s;
}

.btn-success:focus,
.btn-success:hover,
.btn-success.active,
.btn-success.active:hover,
.btn-success:active:hover,
.btn-success:active:focus,
.btn-success:active {
  background-color: #71b8ff;
  border-color: #71b8ff;
  box-shadow: 0px 5px 35px -5px #71b8ff;
  text-shadow:0 0 8px #fff;
  color: #FFF;
  outline:none;
}
input[type=checkbox] {
	display: none;
}

#remember:checked ~ label[for=remember] {
	background: #71b8ff;
	border: 3px solid white;
	box-shadow: 0px 0px 0px 2px #71b8ff;
}

#button {
	background: #71b8ff;
	width:18rem;
	border: 0;
	height: 30px;
	border-radius: 3px;
	color: white;
	font-weight: bold;
	cursor: pointer;
	transition: background 0.3s ease-in-out;
}

#button:hover {
	background: #71b8ff;
}

.forgot {
	margin-top: 25px;
	display: block;
	font-size: 13px;
	text-align: left;
	font-weight: bold;
	color: #b5b5b5;
	padding: 0px 0px 25px 25px;
}

::-webkit-input-placeholder {
	color: #777;
	font-weight: bold;
}

.remlog {
	border-bottom: 1px solid #ddd;
}

.remember {
	padding: 30px 0px;
	font-size: 12px;
	text-indent: 20px;
	line-height: 15px;
	margin-left: 25px;
	display: inline-block;
}

.forgot h3 {
	font-size: 16px;
	font-weight: normal;
	margin-bottom: 15px;
}

.forgot a {
	color: #777;
}

.close {
	width: 32px;
	height: 32px;
	display: block;
	border: 0;
	border-radius: 0px 3px 0px 0px;
	position: absolute;
	right: 0px;
	padding: 0px;
	background: #fff;
	cursor: pointer;
	border-left: 1px solid #eee;
	border-bottom: 1px solid #eee;
}

.close:after {
	content: '';
	display: block;
	position: absolute;
	width: 3px;
	height: 16px;
	transform: rotate(45deg);
	background: #ccc;
	margin: -8px 0px 0px 14px
}

.close:before {
	content: '';
	display: block;
	position: absolute;
	width: 3px;
	height: 16px;
	transform: rotate(-45deg);
	background: #ccc;
	margin: -8px 0px 0px 14px
}

.close:hover:before, .close:hover:after {
	background: #777;
	transition: all 0.2s linear;
}

@keyframes bounceInDown { 
	0% {
	opacity: 0;
	transform: translateY(-2000px);
	}
	60%{
	opacity:1;
	transform:translateY(30px);
	}
	80%{
	transform:translateY(-10px);
	}
	100%{
	transform:translateY(0);
	}
}


/* navbar section */

.menu-scroll {
    padding-top: 0px;
    padding-bottom: 0px;
    position: fixed;
    top: 0; 
    left: 0; 
    right: 0; 
    z-index: 300;
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    background-color:#fff;
    -webkit-transition:all .3s;
    -moz-transition:all .3s;
    transition:all .3s;
    height: 80px;
font-family: 'Nanum Myeongjo', serif;
font-family: 'Anton', sans-serif;
font-family: 'Abril Fatface', cursive;
font-family: 'Yanone Kaffeesatz', sans-serif;
    /*    background-color: transparent;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;*/

}

.menu-scroll .main_menu_bg{
    margin-top: 0px;
    background-color: transparent;
    height: 80px;
}
.menu-scroll .main_menu_bg .nave_menu {
    margin-top:0px;
}
.main_menu_bg{
    margin-top: 0px;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    height: 130px;
    transition: all 0.3s;
}
.main_menu_bg .navbar-default {
    background-color: transparent; 
    border-color: transparent; 
    transition: all .3s;
    margin: 15px auto;
}
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus{
    color:#000000;
}
.main_menu_bg .nave_menu {
    margin-top:50px;
    transition: all 0.6s;
}

.main_menu_bg .navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus{
    color: #000000;
    background:url(../images/line.png) no-repeat scroll 15px 40px;
}

.main_menu_bg .navbar-nav>li>a {
    padding-top: 15px;
    padding-bottom: 20px;
    font-size: 1.25rem;
    color: #333;
}
.navbar-brand>img {
    max-width: 80%;
    margin-top:-3rem;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus{
    background-color:transparent;
    color:#ffe1bd;

}
.dropdown-menu>li>a{
    line-height: 4;
}
/*.navbar-nav>li>.dropdown-menu{
    margin-top:20px;
}*/
