@CHARSET "UTF-8";
.button {  
	position:relative;	
	margin-top: 5px;
	background-color: #87CEFA;
	font-size: 15px;
	color: black;
	padding: 10px;
	width: 100px;
	text-align: center;
	-webkit-transition-duration: 0.4s;
	transition-duration: 0.4s;
	text-decoration: none;
	overflow: hidden;
	cursor: pointer;
}
.button1{
	position:relative;	
	margin-top: 5px;
	background-color: #848484;
	font-size: 15px;
	color: black;
	padding: 10px;
	width: 100px;
	text-align: center;
	-webkit-transition-duration: 0.4s;
	transition-duration: 0.4s;
	text-decoration: none;
	overflow: hidden;
	cursor: pointer;
}

.button:hover {
	color: #DDDDDD;
	 border-color: #DDDDDD;
}

.button2:active {
	 color: #BBBBBB;
	 border-color: #BBBBBB;
}

#selectDay{
	
	
	
	
}

#selectTime{
	position: relative;
	
	margin-top: -6.5%;
	margin-bottom: -6.5%;
}
	
	
}