
@import url(//fonts.googleapis.com/earlyaccess/jejumyeongjo.css);
@import url(//fonts.googleapis.com/earlyaccess/jejugothic.css);
@import url(//fonts.googleapis.com/earlyaccess/kopubbatang.css);
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
@import url(//fonts.googleapis.com/earlyaccess/hanna.css);
@import url(//fonts.googleapis.com/earlyaccess/jejuhallasan.css);

body {
  background: #d0d0d0;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Jeju Myeongjo', serif;
  font-family: 'Jeju Gothic', sans-serif;
  font-family: 'KoPub Batang', serif;
  font-family: 'Noto Sans KR', sans-serif;
  font-family: 'Jeju Hallasan', cursive;
  font-family: 'Hanna', sans-serif;
}
header {
  text-align: center;
  padding: 30px 0;
  width: 80%;
  margin-top: 3rem;
  margin-left: 10%;
  margin-bottom: 2rem;
  border-radius: 3px;
}
header h1 {
  margin: 0 0 15px 0;
  padding: 0;
  font-size: 42px;
  font-weight: normal;
}
header h3 {
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  color: #999;
}
header h3 a {
  color: #09c;
  text-decoration: none;
}
header h3 a:hover {
  color: #09c;
  text-decoration: underline;
}
ul{
	list-style: none;
}
li{
	display: inline-block;
}
textarea {
  padding: 10px;
  margin-top: 10px;
  margin-left:30px;
  width: 300px;
}



#stage {
  position: relative;
  z-index:2;
  height: 500px;
  width: 30%
}
#circle-menu {
  display: inline-block;
  width: 100px;
  height: 100px;
  position: absolute;
  top: 50%;
  left:50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}
#circle-menu .menu-trigger {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
background: rgb(22,41,52);
box-shadow: 1px 1px 1px 3px rgba(30,30,30,0.2);
  color: #fff;
  display: inline-block;
  line-height: 100px;
  text-align: center;
  z-index: 9;
  text-decoration: none;
  font-size: .85rem;
  font-weight: bold;
  border: 3px solid transparent;
  -webkit-border-radius: 50%;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 50%;
  -moz-background-clip: padding;
  border-radius: 50%;
  background-clip: padding-box;
  transition: all 0.2s ease;
  animation: cycle 10s infinite;
}
#circle-menu .menu-trigger:before,
#circle-menu .menu-trigger:after {
  position: absolute;
  left: 0;
  width: 100%;
  transition: all 0.2s ease;
}
#circle-menu .menu-trigger:before {
  content: attr(data-open);
}
#circle-menu .menu-trigger:after {
  content: attr(data-close);
  zoom: 1;
  filter: alpha(opacity=0);
  -webkit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
  -webkit-transform: translateY(15%);
  transform: translateY(15%);
}
#circle-menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
#circle-menu ul li {
  position: absolute;
  width: 100px;
  height: 100px;
  display: inline-block;
  -webkit-border-radius: 50%;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 50%;
  -moz-background-clip: padding;
  border-radius: 50%;
  background-clip: padding-box;
  zoom: 1;
  filter: alpha(opacity=0);
  -webkit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
  transition: all 0.85s cubic-bezier(0, 1.8, 1, 1.2);
  
}
#circle-menu ul li:nth-child(1) {
background: rgb(255, 204, 204);
box-shadow: 1px 1px 1px 3px rgba(30,30,30,0.2);
	}
#circle-menu ul li:nth-child(2) {
  background-color: rgb(255, 242, 204);
  box-shadow: 1px 1px 1px 3px rgba(30,30,30,0.2);
}
#circle-menu ul li:nth-child(3) {
  background-color: rgb(217, 255, 204);
  box-shadow: 1px 1px 1px 3px rgba(30,30,30,0.2);
}
#circle-menu ul li:nth-child(4) {
  background-color: rgb(204, 230, 255);
  box-shadow: 1px 1px 1px 3px rgba(30,30,30,0.2);
}
#circle-menu ul li:nth-child(5) {
  background-color: rgb(204, 204, 255);
  box-shadow: 1px 1px 1px 3px rgba(30,30,30,0.2);
}
#circle-menu ul li a {
  color: #fff;
  font-size: 1.5rem;
  line-height: 100px;
  display: block;
  text-align: center;
}
#circle-menu.open .menu-trigger {
  background: transparent;
  border-color: rgb(22,41,52);
}
#circle-menu.open .menu-trigger:before {
  zoom: 1;
  filter: alpha(opacity=0);
  -webkit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
  -webkit-transform: translateY(-15%);
  transform: translateY(-15%);
}
#circle-menu.open .menu-trigger:after {
  zoom: 1;
  filter: alpha(opacity=100);
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
  -webkit-transform: translateY(0px);
  transform: translateY(0px);
}
#circle-menu.open ul li {
  zoom: 1;
  filter: alpha(opacity=100);
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}
#circle-menu.open ul li:nth-child(1) {
  -webkit-transform: translate(-80px,-120px);
  transform: translate(-80px,-120px);
}
#circle-menu.open ul li:nth-child(2) {
  -webkit-transform: translate(80px,-120px);
  transform: translate(80px,-120px);
}
#circle-menu.open ul li:nth-child(3) {
  -webkit-transform: translate(130px,30px);
  transform: translate(130px,30px);
}
#circle-menu.open ul li:nth-child(4) {
   -webkit-transform: translate(0px,140px);
  transform: translate(0px,140px);
}
#circle-menu.open ul li:nth-child(5) {
  -webkit-transform: translate(-130px,30px);
  transform: translate(-130px,30px);
}
#circle-menu.open ul li:hover:nth-child(1) {
  background-color: rgb(255, 179, 179);
}
#circle-menu.open ul li:hover:nth-child(2) {
  background-color: rgb(255, 217, 179);
}
#circle-menu.open ul li:hover:nth-child(3) {
  background-color: rgb(179, 255, 179);
}
#circle-menu.open ul li:hover:nth-child(4) {
  background-color: rgb(179, 217, 255);
}
#circle-menu.open ul li:hover:nth-child(5) {
  background-color: rgb(179, 179, 255);
}

.page {
position:relative;
z-index:1;
  width: 100%;
  margin: 1rem;
  padding: 0;
  transition: all .6s cubic-bezier(.5, .2, .2, 1.1);
  -webkit-transition: all .6s cubic-bezier(.5, .2, .2, 1.1);
  -moz-transition: all .6s cubic-bezier(.5, .2, .2, 1.1);
  -o-transition: all .6s cubic-bezier(.5, .2, .2, 1.1);  
  color: black;
  overflow: hidden; 
}

.page {
  position: absolute;
}

#p1 {
  padding-top:15%;
  padding-left: 30%;
  height: 100%;
  border-radius: 10px;
  color:white;  
}

#p2, #p3, #p4, #p5,#p6 {
  left: 200%;
  border-radius: 10px;
}

#p1 { 
}
#p2 { 
	background: rgba(255,255,255,0.8); 
	color:rgb(255, 179, 179);
	}
#p3 {
	background: rgba(255,255,255,0.8); 
	color:rgb(255, 217, 179);
}
#p4 {
	background: rgba(255,255,255,0.8); 
	color:rgb(179, 255, 179);
}
#p5 {
	background: rgba(255,255,255,0.8); 
	color:rgb(179, 217, 255);	
}
#p6 { 
	background: rgba(255,255,255,0.8); 
	color:rgb(179, 179, 255);	
}
#title{
	font-size: 2rem;
	
}
	

#t2:target #p2,
#t3:target #p3,
#t4:target #p4,
#t5:target #p5,
#t6:target #p6 {
  transform: translateX(-170%);
  -webkit-transform: translateX(-170%);
  -moz-transform: translateX(-170%);
  -o-transform: translateX(-170%);
  transition-delay: .4s !important;
}

#t2:target #p1, 
#t3:target #p1,
#t4:target #p1,
#t5:target #p1,
#t6:target #p1{
 visibility: hidden;
}


.content {
  width: 20rem;
  margin: -4rem auto 0 auto;
  padding: 1rem;
  background: #fff;
  border-radius: 0.125rem;
  box-shadow: 0 0.125rem 0.3125rem 0 rgba(0, 0, 0, 0.25);
}

.list {
	display:inline-block;
  margin: .5rem;
}

.list__item {
  margin: 0 0 .5rem 0;
  padding: 0;
}

.label--checkbox {
  position: relative;
  margin: .5rem;
  font-family: Arial, sans-serif;
  line-height: 135%;
  cursor: pointer;
  color:black;
}

.checkbox {
  position: relative;
  top: -0.375rem;
  margin: 0 1rem 0 0;
  cursor: pointer;
}
.checkbox:before {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  content: "";
  position: absolute;
  left: 0;
  z-index: 1;
  width: 1rem;
  height: 1rem;
  border: 2px solid #f2f2f2;
}
.checkbox:checked:before {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  height: .5rem;
  border-color: #009688;
  border-top-style: none;
  border-right-style: none;
}
.checkbox:after {
  content: "";
  position: absolute;
  top: -0.125rem;
  left: 0;
  width: 1.1rem;
  height: 1.1rem;
  background: #fff;
  cursor: pointer;
}

.button--round {
  -webkit-transition: 0.3s background ease-in-out;
  -moz-transition: 0.3s background ease-in-out;
  transition: 0.3s background ease-in-out;
  width: 2rem;
  height: 2rem;
  background: #5677fc;
  border-radius: 50%;
  box-shadow: 0 0.125rem 0.3125rem 0 rgba(0, 0, 0, 0.25);
  color: #fff;
  text-decoration: none;
  text-align: center;
}
.button--round i {
  font-size: 1rem;
  line-height: 220%;
  vertical-align: middle;
}
.button--round:hover {
  background: #3b50ce;
}

.button--sticky {
  position: fixed;
  right: 2rem;
  top: 16rem;
}

.content {
	margin-top:2rem;
	margin-left:2rem;
	margin-bottom: 2rem;
	width:60rem;
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: slideUp;
  animation-name: slideUp;
  -webkit-animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@-webkit-keyframes slideUp {
  0% {
    -webkit-transform: translateY(6.25rem);
    transform: translateY(6.25rem);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes slideUp {
  0% {
    -webkit-transform: translateY(6.25rem);
    transform: translateY(6.25rem);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
.canvas {
  background: linear-gradient(#ff6666, #ffff99);
}
.canvas:BEFORE {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(#ffff99, #ff6666);
  opacity: 0;
  -webkit-animation: cycle 4s infinite;
          animation: cycle 4s infinite;
}

@-webkit-keyframes cycle {
  0% {
  	background: rgba(249,196,219,0);
	background: radial-gradient(circle, rgba(249,196,219,1) 0%, rgba(224,215,242,0.9139005944174545) 52%, rgba(177,205,237,1) 100%);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes cycle {
  0% {
  background-color:rgb(255, 204, 204);
  color:rgb(255,255,255);
  }
  4%{
  background-color:rgb(255, 217, 204);
  color:rgb(242,242,242);
  }
  8%{
  background-color:rgb(255, 230, 204);
  color:rgb(230,230,230);
  }
  12%{
  background-color:rgb(255, 242, 204);
  color:rgb(217,217,217);
  }
  16%{
  background-color:rgb(255, 255, 204);
  color:rgb(204,204,204);
  }
  20%{
  background-color:rgb(242, 255, 204);
  color:rgb(191,191,191);
  }
  24%{
  background-color:rgb(230, 255, 204);
  color:rgb(179,179,179);
  }
  28%{
  background-color:rgb(217, 255, 204);
  color:rgb(166,166,166);
  }
  32%{
  background-color:rgb(204, 255, 204);
  }
  36%{
  background-color:rgb(204, 255, 217);
  }
  40% {
  background-color:rgb(204, 255, 230);
  }
  44% {
  background-color:rgb(204, 255, 242);
  }
  48% {
  background-color:rgb(204, 255, 255);
  }
  52% {
  background-color:rgb(204, 242, 255);
  }
  56% {
  background-color:rgb(204, 230, 255);
  }
  60% {
  background-color:rgb(204, 217, 255);
  }
  64% {
  background-color:rgb(204, 204, 255);
  }
  68% {
  background-color:rgb(217, 204, 255);
  }
  72% {
  background-color:rgb(230, 204, 255);
  }
  76% {
  background-color:rgb(242, 204, 255);
  }
  80% {
  background-color:rgb(255, 204, 255);
  }
  84% {
  background-color:rgb(255, 204, 242);
  }
  88% {
  background-color:rgb(255, 204, 230);
  }
  92% {
  background-color:rgb(255, 204, 217);
  }
  96% {
  background-color:rgb(255, 204, 204);
  }
  100% {
  background-color:rgb(255, 204, 204)
  }
}

.button {
  font-size: 1em;
  border-radius: 8px;
  padding: 10px;
  border: 1px solid #70c5f8;
  box-shadow: 0 1px 0 0 #c0c0c0 inset;
  border:0;
  outline:0;
  background: -webkit-linear-gradient(#63E651, #42753E);
  background: -moz-linear-gradient(#63E651, #42753E);
  background: -o-linear-gradient(#63E651, #42753E);
  background: linear-gradient(#63e651, #42753e);
}
.button:hover {
  background: -webkit-linear-gradient(#2da9e6, #11668e);
  background: -moz-linear-gradient(#2da9e6, #11668e);
  background: -o-linear-gradient(#2da9e6, #11668e);
  background: linear-gradient(#70c5f8,#a6f2fb);
}

.button-large {
	font-family: 'Jeju Gothic', sans-serif;
	margin-left:1.8rem;
	margin-bottom:1rem;
  height: 50px;
  padding: 0 18px;
  border-radius: 6px;
  box-shadow: inset 0 -4px 0 0 rgba(0, 0, 0, 0.15);
  font-size: 22px;
  line-height: 46px;
background: rgb(22,41,52);
  animation: cycle 10s infinite;

}
.button-large:active,
.button-large:active i {
  line-height: 50px;
}
.button-large.button-primary,
.button-large.button-info,
.button-large.button-success,
.button-large.button-warning,
.button-large.button-danger,
.button-large.button-inverse {
  box-shadow: inset 0 -4px 0 0 rgba(0, 0, 0, 0.2);
}