@charset "utf-8";

@import
	url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');

body,html{
	background-color: rgba(233,233,233,0.8);
}
#loading_state {
	top: 45%;
	width: 80%;
	font-size: 25px;
	font-family: 'Open Sans Condensed', sans-serif;
}

#open_call_state {
	display: none;
}

#local_video {
	position: absolute;
	top: 10%;
	left: 13%;
	width: 22.5%;
	background: rgba(200, 200, 200, 0.7);
}

#remote_video {
	position: absolute;
	top: 10%;
	left: 37.5%;
	width: 22.5%;
	background: rgba(200, 200, 200, 0.7);
}
#webRtcbtn{
	font-size: 3rem;
	padding: 10px 50px 10px 55px;
	border:0;
	outline:0;
	background-color:rgb(153, 204, 255);
	transition: box-shadow 1s;
	display: inline-block;
	
}
#webRtcbtn:HOVER{
	border: 3px 3px solid rgba(255,255,255,0.3);
	box-shadow: 
		0 0 10px #fff, 
		0 0 30px #fff, 
		0 0 50px #fff, 
		0 0 70px #fff,
		0 0 90px #fff;
}
#btn-mic {
	font-size: 3rem;
	padding: 10px 50px 10px 50px;
	border:0;
	outline:0;
	transition: box-shadow 1s;
	display: inline-block;
}
#btn-mic:hover{
	box-shadow: 
		0 0 10px #fff, 
		0 0 30px #fff, 
		0 0 50px #fff, 
		0 0 70px #fff,
		0 0 90px #fff;
}
.selfcheck{
	font-size: 3rem;
	padding: 10px 53px 10px 53px;
	border:0;
	outline:0;
	background-color: rgb(153, 204, 255);
	transition: box-shadow 1s;
}
.selfcheck:hover{
	box-shadow: 
		0 0 10px #fff, 
		0 0 30px #fff, 
		0 0 50px #fff, 
		0 0 70px #fff,
		0 0 90px #fff;
}
/* 요기 밑에는 채팅 */
.jamaku {
	background-color: rgba(0, 0, 0, 0.6);
	color: white;
	display: inline-block;
	position: absolute;
	top: 30rem;
	font-size: 18px;
}

#me {
	left: 8rem;
}

#you {
	left: 33rem;
}

#chatArea {
	width: 200px;
	height: 100px;
	overflow-y: auto;
	border: 1px solid black;
}

#loading_state {
	width: 35rem;
	height: 10rem;
	position: absolute;
	left: 30rem;
	right: 0;
	top: 35rem;
	bottom: 0;
	text-align: right;
	font-size: 2rem;
}

#loading_state:before {
	content: '';
	width: 55px;
	height: 5px;
	background: #000;
	opacity: 0.1;
	position: absolute;
	top: 59px;
	left: 0;
	border-radius: 50%;
	animation: shadow .5s linear infinite;
}

#loading_state:after {
	content: '';
	width: 50px;
	height: 50px;
	background: #6297f0;
	animation: animate .5s linear infinite;
	position: absolute;
	top: 0;
	left: 0;
	border-radius: 3px;
}
@keyframes animate {
  17% {
    border-bottom-right-radius: 3px;
  }
  25% {
    transform: translateY(9px) rotate(22.5deg);
  }
  50% {
    transform: translateY(18px) scale(1, 0.9) rotate(45deg);
    border-bottom-right-radius: 40px;
  }
  75% {
    transform: translateY(9px) rotate(67.5deg);
  }
  100% {
    transform: translateY(0) rotate(90deg);
  }
}
@keyframes shadow {
  0%,
  100% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.2, 1);
  }
}


#testChat {
	
}


/* 요기 밑에는 마이크자막 */
.on{
	background-color: #a9e897;
	content: "";
}
.off{
	background-color: #ff9f9f;
}

/*--------------------
Mixins
--------------------*/
/*--------------------
Body
--------------------*/
*, *::before, *::after {
	box-sizing: border-box;
}


@import "https://fonts.googleapis.com/css?family=Montserrat";

.chat {
	width: 400px;
	height: 50rem;
	box-shadow: 0 0 30px -5px grey;
	margin: 10vh calc(50vw - 200px);
	background: #fafafa;
	position: absolute;
	left:50rem;
	top:8rem;
	font-family: 'Montserrat', sans-serif;
	opacity: 0.8;
}
.chat_controll{
	background: #f0f0f0;
	margin-top: 2px;
}
.chat_header {
	font-size:18px;
	padding: 1px 10px 13px 13px;
	border-bottom: 4px solid #0984b9;
	background: #f0f0f0;
	color: #0984b9;
}

.chat_status {
	font-size: 11px;
	margin: 4px 0 -4px;
}

.chat_avatar {
	float: right;
	width: 42px;
	border-radius: 50%;
	margin-top: -3px;
}

.chat_input {
	position: absolute;
	bottom: 0;
	width:100%;
	padding: 10px 4px 6px;
	background: #c8c8c8;
}

.chat_text {
	width: 80%;
	padding: 10px;
	margin-left:5px;
	box-sizing: border-box;
	vertical-align: top;
	font-family: 'Montserrat', sans-serif;
}

.chat_submit {
	width: 15%;
	padding: 13px;
	box-sizing: border-box;
	margin: 0 10px 5px 0.5px;
	vertical-align: top;
	border: 1px solid #0984b9;
	cursor: pointer;
	color: #0984b9;
	border-radius: 0 8px 8px 0;
	transition: all .4s;
}

.chat_submit:hover {
	background: #0984b9;
	color: #fff;
}

.chat_bubble-1, .chat_bubble-2 {
	padding: 10px;
	margin: 13px 17px;
	width: 200px;
	font-size: 14px;
}

.chat_bubble-1 {
	background-color:rgba(128, 191, 255,0.5);
	border-radius: 12px 12px 12px 0;
	animation: text 0.3s ease-in;
	color:black;
}

.chat_bubble-2 {
	border-radius: 12px 12px 0 12px;
	background-color:rgba(200,200,200,0.5);
	margin-left: 160px;
	animation: text2 0.3s ease-in-out;
	color:black;
}

.chat_s {
	max-height:76%;
	overflow: scroll;
	padding: 15px 0 0;
}

::-webkit-scrollbar {
	width: 13px;
}

::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 0 4px #fff;
	background: rgba(0, 0, 0, 0.2);
}

@keyframes text{
	0%{
		opacity: 0;
		margin-left: 27px;
		}
	100%{
		opacity: 1;
		margin-left: 17px;
		}
}
@keyframes text2{
	0%{
		opacity: 0;
		margin-left: 150px;
		}
	100%{
		opacity: 1;
		margin-left: 160px;
		}
}

#enterBtn{
	background-color: #8ce855;
	border:0.3px solid rgba(180,180,180,0.3);
	padding: 3px 3px;
	outline:0;
	border-radius: 4rem;
	margin-left: 31rem;
	margin-top: 3px;
	margin-bottom: 2px;
	color:white;
}
#exitBtn{
	background-color: #f56247;
	border:0.3px solid rgba(180,180,180,0.3);
	padding: 3px 3px;
	border:0;
	outline:0;
	border-radius: 4rem;
	color:white;
}