<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="com.seltest.www.vo.Customer" alias="customer" />
		<typeAlias type="com.seltest.www.vo.Reservation" alias="reservation" />
		<typeAlias type="com.seltest.www.vo.SelfCheck" alias="selfCheck" />
		<typeAlias type="com.seltest.www.vo.SelfCheck2" alias="selfCheck2" />
		<typeAlias type="com.seltest.www.vo.Prescription" alias="prescription" />
		<typeAlias type="com.seltest.www.vo.HealthRecord" alias="healthRecord" />
	</typeAliases>
	<mappers>
		<mapper resource="mapper/customerMapper.xml" />
		<mapper resource="mapper/reservationMapper.xml" />
		<mapper resource="mapper/selfCheckMapper.xml" />
		<mapper resource="mapper/prescriptionMapper.xml" />
		<mapper resource="mapper/healthRecordMapper.xml"/>
	</mappers>
</configuration>
