<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 회원정보 처리 SQL -->
<mapper namespace="com.seltest.www.dao.BoardMapper">

	<insert id="insertBoard" parameterType="board">
		insert into board (
		
		board_Num
		, board_Title
		, board_Category
		, content
		, score
		, cust_Num
		
		)
		
		values(
		
		board_Num_sequence.nextval
		, #{board_Title}
		, #{board_Category}
		, #{content}
		, #{score}
		, #{cust_Num}
		
		)
	
	</insert>

	<select id="bList" resultType="board">
		
		select *
		from board
		order by board_Num desc
	
	</select>
	
	<select id="readOne" resultType="board">
	
		select *
		from board
		where board_Num = #{board_Num}
	
	</select>
	
	<update id="hits">
	
		update board
		set hits = hits + 1
		where board_Num = #{board_Num}
	
	</update>
	
	<delete id="delete">
		
		delete from board
		where board_Num = #{board_Num}
	
	</delete>
	
	<update id="update" parameterType="board">
	
		update board
		set board_Title = #{board_Title}
		, board_Category = #{board_Category}
		, content = #{content}
		, score = #{score}
		where board_Num = #{board_Num}
	
	</update>
	
	<select id="getTotal" parameterType="hashMap" resultType="int">
	
		select count(*)
		from board
	
	</select>
	
	<select id="selectBoardList" parameterType="hashMap" resultType="Board">
	
		select * 
		from board
		order by board_Num desc
	
	</select>


</mapper>