<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 회원정보 처리 SQL -->
<mapper namespace="com.seltest.www.dao.CustomerMapper">

	
	<insert id="insertCustomer" parameterType="customer">
		insert into customer (

			cust_Num
			,cust_Id
			,cust_Name
			,cust_Pw
			,cust_Sex
			,cust_Birth
			,cust_Address
			,cust_Phone
			,cust_Email
			,cust_Major
			
		)
		values (
			cust_Num_sequence.nextval
			,#{cust_Id}
			,#{cust_Name}
			,#{cust_Pw}
			,#{cust_Sex}
			,#{cust_Birth}
			,#{cust_Address}
			,#{cust_Phone}
			,#{cust_Email}
			,#{cust_Major}
		)
	</insert>
	
	<!-- E-mail 인증 처리 : 김준형 -->
	<update id="verifyUser">
	
		UPDATE 
			customer
			
		SET 
			emailVerify = 'Y'
			
		WHERE 
			cust_Email = #{cust_Email}
			
	</update>
	
	
	
	
	<select id="searchCustomerOne" parameterType="String" resultType="customer">
	
	select * from customer where cust_Id = #{cust_Id}
	
	</select>
	
	

</mapper>
