<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.seltest.www.dao.HealthRecordMapper">


	<insert id="insertHealthRecord" parameterType="healthRecord">
		insert into healthRecord (

		dia_Num
		,dis_Name
		,final_Diagnosis
		,dis_Category
		,first_Date
		,dia_Date
		,care_Opinions
		,ect
		,usage
		,issue_Date
		,hos_Name
		,hos_Address
		,hos_Phone
		,cust_Num
		,dia_del
		,cust_Id
		,cust_Name
		
		)values(
		
		dia_Num_sequence.nextval
		,#{dis_Name}
		,#{final_Diagnosis}
		,#{dis_Category}
		,#{first_Date}
		,#{dia_Date}
		,#{care_Opinions}
		,#{ect}
		,#{usage}
		,#{issue_Date}
		,#{hos_Name}
		,#{hos_Address}
		,#{hos_Phone}
		,#{cust_Num}
		,#{dia_del}
		,#{cust_Id}
		,#{cust_Name}
		
		)
	</insert>
	
	<select id="searchDisCode" parameterType="String" resultType="disCode">

		select * 
		from diseaseCode 
		where dis_code like '%' || #{discode} || '%'
		order by dis_code

	</select>
	
	<select id="selectHR_doc" parameterType="String" resultType="healthRecord">

		select * 
		from healthRecord 
		where cust_Id = #{cust_Id}
		order by dia_Num

	</select>
	
	<select id="selectHR_cust" parameterType="int" resultType="healthRecord">

		select * 
		from healthRecord 
		where cust_Num = #{cust_Num} and dia_del = 0
		order by dia_Num

	</select>
	
	<select id="selectHRone" parameterType="int" resultType="healthRecord">

		select *
		from healthRecord 
		where dia_Num = #{dia_Num}
	
	</select>

	<update id="deleteHR_cust" parameterType="int">
		
		update healthRecord
		set dia_del = 1
		where dia_Num = #{dia_Num}
	
	
	</update>
	
	



</mapper>