<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 처방전 처리 SQL -->
<mapper namespace="com.seltest.www.dao.PrescriptionMapper">
	
	<!-- 처방전 -->
	<insert id="insertPrescription" parameterType="prescription">
		insert into prescription (
			pre_Num
			, med_Name
			, med_Amount
			, med_Count
			, med_Content
			, cust_Num
		)
		
		values (
			pre_Num_sequence.nextval
			, #{med_Name}
			, #{med_Amount}
			, #{med_Count}
			, #{med_Content}
			, #{cust_Num}		
		)
	</insert>
	
</mapper>