<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 처방전 처리 SQL -->
<mapper namespace="com.seltest.www.dao.PrescriptionMapper">
	
	<!-- 처방전 -->
	<insert id="insertPrescription" parameterType="prescription">
		
		insert into prescription (
			pre_Num
			, med_Name
			, med_Amount
			, med_Count
			, med_Content
			, cust_Num
			, cust_Id
		)
		
		values (
			pre_Num_sequence.nextval
			, #{med_Name}
			, #{med_Amount}
			, #{med_Count}
			, #{med_Content}
			, #{cust_Num}
			, #{cust_Id}		
		)
		
	</insert>
	
	<!-- 한 명의 처방전 리스트 -->
	<select id="prescriptionIndList" resultType="prescription">
		
		select *
		from prescription
		where cust_Num = #{cust_Num}
		order by pre_Num desc
        <!-- and
        rownum = 1
		order by pre_Num desc; -->
	
	</select>
	
	<!-- 처방전 하나 -->
	<select id="readOne" resultType="prescription">
		
		select *
		from prescription
		where pre_Num = #{pre_Num}
	
	</select>
	
</mapper>