<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 처방전 처리 SQL -->
<mapper namespace="com.seltest.www.dao.PrescriptionMapper">
	
	<!-- 처방전 -->
	<insert id="insertPrescription" parameterType="prescription">
		
		insert into prescription (
			pre_Num
			, med_Name
			, med_Amount
			, med_Count
			, med_Content
			, cust_Num
			, cust_Id
			, cust_Name
		)
		
		values (
			pre_Num_sequence.nextval
			, #{med_Name}
			, #{med_Amount}
			, #{med_Count}
			, #{med_Content}
			, #{cust_Num}
			, #{cust_Id}	
			, #{cust_Name}	
		)
		
	</insert>
	
	<!-- 의사가 한 사람의 처방전 확인. 삭제된 것도 확인 할 수 있음 -->
	<select id="prescriptionIndList" resultType="prescription">
		
		select *
		from prescription
		where cust_Num = #{cust_Num}
		order by pre_Num desc

		<!-- and pre_Del != 1 -->
        <!-- and
        rownum = 1
		order by pre_Num desc; -->
	
	</select>
	
	<!-- 처방전 하나 -->
	<select id="readOne" resultType="prescription">
		
		select *
		from prescription
		where pre_Num = #{pre_Num}
	
	</select>
	
	<select id="selectPS_doc" parameterType="String" resultType="prescription">

		select * 
		from prescription 
		where cust_Id = #{cust_Id}
		order by pre_Num

	</select>
	
	<select id="selectPS_cust" parameterType="int" resultType="prescription">

		select * 
		from prescription 
		where cust_Num = #{cust_Num} 
		and pre_Del = 0
		order by pre_Num

	</select>
	
	<update id="deletePS_cust" parameterType="int">
		
		update prescription
		set pre_Del = 1
		where pre_Num = #{pre_Num}
	
	</update>
	
	
</mapper>