<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 예약정보 처리 SQL -->
<mapper namespace="com.seltest.www.dao.SelfCheckMapper">

	<insert id="insertSelfCheck" parameterType="selfCheck">
		
		insert into selfCheck (
		selfCheck_Num
		, cust_Num 
		)
		
		
		values (
		selfCheck_Num_sequence.nextval
		, #{cust_Num} 
		)
		
	</insert>
	
	
	
	<update id="update" parameterType="selfCheck">
		
		update selfCheck
		set
		blood_Pressure = #{blood_Pressure}
		, smoking = #{smoking}
		, drinking = #{drinking}
		, diabetes = #{diabetes}
		, surgery = #{surgery}
		, disability = #{disability}
		, medicine = #{medicine}
		, allergy = #{allergy}
		, overseas_Visits = #{overseas_Visits}
		, sleep_Time = #{sleep_Time}
		, stress = #{stress}
		, family_History = #{family_History}
		, pregnant = #{pregnant}
		
		where cust_Num = #{cust_Num}
		
	</update>
	
	
</mapper>
	
	